.signup-section{
    background-color: rgba(204, 199, 199, 0.617);
}
.form-control{
    background-color: #BBC6C9;
}
.form-label{
    color: #373FF5;
    font-weight: bold;
}
.btn{
    background-color: #1E5675;
    color: white;
}

