.signup-section{
    background-color: rgba(204, 199, 199, 0.617);
}
.form-control{
    background-color: #BBC6C9;
}
.form-label{
    color: #373FF5;
    font-weight: bold;
}
.btn{
    background-color: #1E5675;
    color: white;
}
.card{
    margin-top: 56px;
    margin-bottom: 56px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span{
    color: red;
}
.errorMessage{
    color: red;
    font-size: 14px;
}
.text-dark{
    
    margin-bottom: 0px;
    font-size: 14px;
}


