<section class="image-section">
    <div class="d-flex flex-row justify-content-center">
        <div  class="d-flex flex-column justify-content-center pp">
            <h1 class="image-heading">Seniors First: Financial Security for Later Years</h1>
            <p class="image-paragraph">Safe & Serene: Golden Years Made Secure</p>
        </div>
        <div>
            <img src="/assets/img/home-image.png">
        </div>
    </div>
</section>
<div class="info-div">
<section class="about-us-section">
    <h4 class="heading-info">About Us</h4>
    <p class="paragraph">
        Pensioner Management System is an innovative platform designed to provide financial security to the elderly and vulnerable members of our society.
        Our system ensures a dignified life for pensioners by offering monthly pensions based on their age.
        The scheme aims to support people above the age of 60 by providing them with a pension of ₹ 5000, those above 70 will receive ₹ 6000, and for individuals above the age of 80, the pension will be ₹ 7000. 
    </p>
    <p class="paragraph">
        This initiative has been crafted to alleviate the hardships faced by senior citizens and provide them with a sense of financial security in their golden years.
        At Pensioner Management System, we believe in inclusivity and reaching out to all sections of the needy population.
        Our platform has been crafted with the belief that financial security in the senior years is a basic right, not a privilege. We welcome all eligible individuals to join us in our mission to support the elderly and ensure a dignified life for everyone.
    </p>
</section>
<section id="eligibility-section">
    <h4 class="heading-info">Eligibility</h4>
    <p class="paragraph">
      We are dedicated to supporting the elderly and vulnerable members of our society by providing financial assistance through our pension scheme.
    </p>
    <p class="paragraph">
       To be eligible for the pension, individuals must meet the following criteria:
    </p>
    <ul class="paragraph">
        <li>Age: They must be aged 60 and above.</li>
        <li>Applicants must provide accurate details including their pension name, age, date of birth, Aadhar, and PAN card.</li>
    </ul>
    <p class="paragraph">
        Our platform aims to ensure a dignified life for pensioners and we welcome all eligible individuals to join us in our mission. We are here to provide a helping hand during your golden years.
    </p>
</section>
</div>