.form-div{
   margin-left: 350px; 
}
.row{
    margin-bottom: 10px;
}
input{
    background-color: #D9D9D9;
}
.button-group{
    margin-left: 360px; 
}

.btn-primary{
    background-color: rgba(0, 76, 255, 0.551);
    border:  rgba(0, 76, 255, 0.551);
    color: black;
}
.btn-primary:hover{
    background-color:#3B71CA;
    color: white;
}
.btn{
    border-radius: 20px;  
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span{
    color: red;
}
.errorMessage{
    color: red;
    font-size: 14px;
}
