<section class="allDetailsSection">
    <div class="d-flex flex-row justify-content-center">
    <p class="text-primary h3 mb-4">Pension Application</p>
    </div>
    <div class="d-flex justify-content-center ">
      
      <table class="table table-bordered ">
        <tbody>
          <tr>
            <th class="table-active col-xl-2">Full Name </th>
            <td class=" col-xl-3" >{{model.fullName}}</td>
            <th class="table-active col-xl-2">Date Of Birth</th>
            <td class=" col-xl-3" >{{model.dateOfBirth}}</td>
          </tr>
          <tr>
            <th class="table-active">Gender</th>
            <td  >{{model.gender}}</td>
            <th class="table-active">Age</th>
            <td >{{model.age}}</td>
          </tr>
          <tr>
            <th class="table-active">Aadhar Number </th>
            <td >{{model.aadharNumber}}</td>
            <th class="table-active">Phone Number</th>
            <td  >{{model.phoneNumber}}</td>
          </tr>
          <tr>
            <th class="table-active">Address </th>
            <td >{{model.address}}</td>
            <th  class="table-active">Pension Plan</th>
            <td  >{{model.pensionPlanDetails.pensionPlanName}}</td>
          </tr>
        </tbody>
        
      </table>
    
    </div>
    
    <div class="d-flex  justify-content-center text-center">
        <table class="table  ">
            <thead>
              <tr class="table-active">
                <th>Guardian Name</th>
                <th>Date of Birth</th>
                <th>Relation</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone Number</th>
              </tr>
            </thead>
            
            <tbody>
              <tr >
                <td>{{guardian.guardianName}}</td>
                <td>{{guardian.dateOfBirth}}</td>
                <td>{{guardian.relation}}</td>
                <td>{{guardian.age}}</td>
                <td>{{guardian.gender}}</td>
                <td>{{guardian.phoneNumber}}</td>
              </tr>
              
              </tbody>
              </table>
              </div>
              <div class="d-flex  justify-content-center text-center">
              <table class="table">
                <thead >
                  <tr class="table-active">
                    <th>Bank Name</th>
                    <th>Account Number</th>
                    <th>IFSC Code</th>
                    <th>Branch Name</th>
                    <th>Pan Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>{{banking.bankName}}</td>
                <td>{{banking.accountNumber}}</td>
                <td>{{banking.ifscCode}}</td>
                <td>{{banking.branchName}}</td>
                <td>{{banking.panNumber}}</td>
                  </tr>
                  
                  </tbody>
                  </table>
              </div>
    <div class=" my-4 d-flex justify-content-center ">
    <button type="submit" class="btn btn-primary px-3 " routerLink="/">Close</button>
    </div>
 </section>