<section class="pensionerDetailsSection">
    <div class="d-flex flex-row justify-content-center">
    <p class="text-primary h3 mb-4 mt-4">Pensioner Details</p>
    </div>
    <div class="form-div">
    <form #personalDetailsForm="ngForm" (ngSubmit)="OnBankFormSubmit()">
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Full Name <span>*</span></label>
    <div class="col-sm-5">
    <input type="text" class="form-control" placeholder="Mood Divya"  name="fullName" [(ngModel)]="model.fullName" [disabled]="inputFieldDisable" required>
    <div *ngIf="personalDetailsForm.controls['fullName']?.invalid && (personalDetailsForm.controls['fullName'].dirty || personalDetailsForm.controls['fullName'].touched)">
    <small class="text-danger" *ngIf="personalDetailsForm.controls['fullName'].errors.required">Full Name is required.</small>
    </div>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Date of Birth <span>*</span></label>
    <div class="col-sm-5">
    <input type="date" class="form-control" name="dob" [(ngModel)]="model.dateOfBirth" [disabled]="inputFieldDisable" required>
    </div>
    </div>
   
    <div class="form-group row">
        <div class="row">
        <div class="col-sm-3">
        <label class="col-form-label">Gender <span>*</span></label>
        </div>
        <div class="col-sm-9">
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="maleRadio" value="male" [(ngModel)]="model.gender" [disabled]="inputFieldDisable" required>
        <label class="form-check-label" for="maleRadio">Male</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="femaleRadio" value="female" [(ngModel)]="model.gender" [disabled]="inputFieldDisable" required>
        <label class="form-check-label" for="femaleRadio">Female</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="otherRadio" value="other" [(ngModel)]="model.gender" [disabled]="inputFieldDisable" required>
        <label class="form-check-label" for="otherRadio">Other</label>
        </div>
        </div>
        </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Aadhar Number <span>*</span></label>
    <div class="col-sm-5">
    <input type="text" class="form-control" placeholder="1234-5678-9012" name="aadharNumber" [(ngModel)]="model.aadharNumber" required pattern="[0-9]{4}[0-9]{4}[0-9]{4}" [disabled]="inputFieldDisable">
    <div *ngIf="personalDetailsForm.controls['aadharNumber']?.invalid && (personalDetailsForm.controls['aadharNumber'].dirty || personalDetailsForm.controls['aadharNumber'].touched)">
    <small class="text-danger" *ngIf="personalDetailsForm.controls['aadharNumber'].errors.required">Aadhar Number is required.</small>
    <small class="text-danger" *ngIf="personalDetailsForm.controls['aadharNumber'].errors.pattern">Aadhar Number should be in the format XXXXXXXXXXXX.</small>
    </div>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Phone Number <span>*</span></label>
    <div class="col-sm-5">
    <input type="tel" class="form-control" placeholder="123-456-7890" name="phoneNumber" [(ngModel)]="model.phoneNumber"  required pattern="[0-9]{10}" [disabled]="inputFieldDisable">
    <div *ngIf="personalDetailsForm.controls['phoneNumber']?.invalid && (personalDetailsForm.controls['phoneNumber'].dirty || personalDetailsForm.controls['phoneNumber'].touched)">
    <small class="text-danger" *ngIf="personalDetailsForm.controls['phoneNumber'].errors.required">Phone Number is required.</small>
    <small class="text-danger" *ngIf="personalDetailsForm.controls['phoneNumber'].errors.pattern">Phone Number should be in the format XXXXXXXXXX.</small>
    </div>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Address <span>*</span></label>
    <div class="col-sm-5">
    <textarea class="form-control" placeholder="123 Main St, City, Country" name="address" [(ngModel)]="model.address" [disabled]="inputFieldDisable" required></textarea>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Age <span>*</span></label>
    <div class="col-sm-5">
    <input type="number" class="form-control" placeholder="60" name="age" [(ngModel)]="model.age" [disabled]="inputFieldDisable" required>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Pension Plan</label>
    <div class="col-sm-5">
    <select class="form-control" name="pensionPlan" [(ngModel)]="model.pensionPlanId" [disabled]="inputFieldDisable">
    <option *ngFor="let PensionerPlan of pensionerplan" [value]="PensionerPlan.pensionPlanId">{{PensionerPlan.pensionPlanName}}</option>
    
    </select>
    </div>
    </div>
    <div class="form-group my-4 button-group">
    <button type="button" (click)="onclickenable()"  [disabled]="editable"  class="btn btn-warning ">Edit</button>
    <button type="submit" class="btn btn-primary px-3 " [disabled]="personalDetailsForm.invalid">Submit</button>
    <button type="button" class="btn btn-primary px-3" (click)="onClickNav()" [hidden]="hidebutton">Next</button>
    </div>
    </form>
    </div>
    </section>