<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <div class="brand-content">
    <div>
    <img src="https://c8.alamy.com/comp/H81PJ6/a-figurine-pensioner-coupleold-age-pension-H81PJ6.jpg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    <span>&nbsp;Pension Management</span>
    </div>
    </div>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#eligibility-section">Eligibility</a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    Add Details
    </a>
    <ul class="dropdown-menu">
    <li  [ngClass]="{'disabled': disableaddDetailsoption()}"><a class="dropdown-item" routerLink="/pensionerDetails" >Pension Details</a></li>
    <div class="dropdown-divider"></div>
    <li [ngClass]="{'disabled': disableoption()}"><a class="dropdown-item" routerLink="/guardianDetails" >GuardianDetails</a></li>
    <div class="dropdown-divider"></div>
    <li [ngClass]="{'disabled': disableoption()}"><a class="dropdown-item" routerLink="/bankDetails" >Banking Details</a></li>
    </ul>
    </li>
    <li class="nav-item">
    <form class="form-inline my-2 my-lg-0">
    <button class="btn my-2 my-sm-0" type="button" (click)="hideLoginbutton()">{{userId? 'LogOut' : 'Login'}}</button>
    </form>
    </li>
    </ul>
    </div>
    </div>
    </nav>